@model IEnumerable<Bloggie.Web.Models.DomainModels.BlogPost>
@{
    ViewData["Title"] = "List Blog Post";
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>List Blog Post - Admin functionality</h1>
    </div>
</div>

<form method="post">

<div class="container py-5">
    <div style="float:right;">
            <a class="btn btn-dark ms-2" href="\AdminBlogPosts\Add">Add Blog Post</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Heading</td>
                <td>Tags</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        @if (Model != null && Model.Any())
        {
            <tbody>
                @foreach (var blogpost in Model)
                {
                    <tr>
                        <td>@blogpost.ID.ToString().Substring(1,6)***</td>
                        <td>@blogpost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in blogpost.Tags)
                                {
                                    <span class="badge bg-secondary me-2">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td style="display:flex">
                                <a class="btn btn-dark ms-2"
                            asp-controller="AdminBlogPosts"
                            asp-action="Edit"
                            asp-route-id="@blogpost.ID">
                            Edit
                            </a>
                                <button class="btn btn-danger ms-2" type="submit" asp-controller="AdminBlogPosts"
                            asp-action="Delete"
                            asp-route-id="@blogpost.ID">
                            Delete
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr>
                <td colspan="3" align="center">No data found</td>
            </tr>
        }
    </table>
</div>

</form>